
*{
  box-sizing: border-box;
  font-family: helvetica;
}

html{
  --main: 43,41,38;
  --tint1: 74,72,69;
  --tint2: 104,105,103;
  --tint3: 141,140,138;
  --tint4: 178,177,176;
  --tint5: 216,215,215;
  --tint6: 252,252,252;
  --gradientColor1:198,255,221;
  --gradientColor2:251,215,134;
  --gradientColor3:247,121,125;
  background: rgba(var(--main), 1);
  color: rgba(var(--tint6),1);
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 24px;
}

#wrapper{
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
}

header{
  width: 50%;
  padding: 64px 64px 0 0;
}

svg{
  width: 125px;
  fill: rgba(var(--main), 1);
  background: radial-gradient(
    rgba(var(--main),0) 99%,
    rgba(var(--main),1) 99%
  ),conic-gradient(rgba(var(--gradientColor1,1)),
  rgba(var(--gradientColor2,1)),
  rgba(var(--gradientColor3,1)),
  rgba(var(--gradientColor1,1)))
}

main{
  width: 50%;
}

#gradientBorder{
  background: conic-gradient(
    rgba(var(--gradientColor1,1)),
    rgba(var(--gradientColor2,1)),
    rgba(var(--gradientColor3,1)),
    rgba(var(--gradientColor1,1))
    );
  padding: 4px;
  max-width: 470px;
  border-radius: 24px;
  box-shadow: 0 0 15px 15px rgba(0,0,0,0.4);
}

#game{
  background: rgba(var(--main), 1);
  padding: 8px 8px 16px;
  border-radius: 20px;
}

#game header{
  padding: 0;
  width: 100%;
  background: none;
  background: conic-gradient(
    rgba(var(--gradientColor1,1)),
    rgba(var(--gradientColor2,1)),
    rgba(var(--gradientColor3,1)),
    rgba(var(--gradientColor1,1))
    );
  padding: 16px;
  border-radius: 20px 20px 0px 0px
}

#game svg{
  margin: 0 auto;
  display: block;
  width: 80px;
  border-radius: 50%;
}

#controls{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

#controls button{
  background: rgba(var(--main), 1);
  color:rgba(var(--tint4), 1);
  padding: 8px;
  border: 1px solid rgba(var(--tint4), 1);
  border-radius: 10px;
  cursor: pointer;
}


form{
  position: relative;
  text-align: center;
}

#difficultyDisplay{
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 8px;
  position: relative;
}

#difficultyDisplay{
  width: 100px;
  margin: 0 auto;
}

#difficultyDisplay p{
  margin: 0;
  transition: color 1s ease;
  padding: 8px;
}

#difficultyDisplay p:after, #difficultyDisplay p:before{
  content: '';
  display: block;
  background: linear-gradient(to bottom right, rgba(var(--tint6),1) 50%,rgba(var(--tint6),0) 50%);
  width: 10px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 45%;
  transition: transform 1s ease, bottom 1s ease, background 1s ease;
}

#difficultyDisplay p:after{
  transform: rotate(-45deg);
  right: 0;
}

#difficultyDisplay p:before{
  transform: rotate(135deg);
  left: 0;
}

#difficultyDisplay .down{
  color: rgba(var(--gradientColor1,1));
}

#difficultyDisplay .down:after{
  transform: rotate(-135deg);
  bottom: 55%;
  --tint6: var(--gradientColor1);
}

#difficultyDisplay .down:before{
  transform: rotate(225deg);
  bottom: 55%;
  --tint6: var(--gradientColor1); 
}

.options{
  position: absolute;
  z-index: 99;
  background: rgba(var(--main), .7);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 16px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: max-height 1s ease, padding 1s ease;
}

.options input{
  display: none;
  font-size: 0px;
  content: '';
  margin-bottom: none;
}

.options input:after{
  display: none;
  font-size: 0px;
  content: '';
  margin-bottom: none;
}

.options label{
  cursor: pointer;
  margin: 0 16px;
  display: block;
}

.expandedDifficulty{
  max-height: 100vh;
  padding: 16px;
}

@keyframes appear{
  from {
    opacity: 0;
  width: 0;
}
  to {
    opacity: 1;
    width: 100%;
}
}

#domGame{
  width: 100%;
  max-width: 630px;
  display: flex;
  font-family: monospace;
  aspect-ratio: 1;
  position: relative;
}

.hidden{
  position: absolute;
  width: 100%;
  max-height: 0;
  aspect-ratio: 1;

  padding: 0;
  background-color: rgba(var(--main), .7);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
  overflow: hidden;
  background-color: rgba(var(--main), .7);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: max-height .5s ease, opacity 1s ease, color .5s ease;
  align-content: flex-start;
  font-size: 0;
  color: rgba(var(--main),0);
}

.moves{
  max-height: 100vh;
  padding: 16px;
  opacity: 1;
  font-size: 16px;
  overflow: scroll;
  color: rgba(var(--tint6),1);
}
.moves span{
  padding: 4px;
  display: block;
}

.column{
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-shrink: 1;
}

.column button{
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 1 !important;
  display: block;
  padding: 1px;
  position: relative;
  cursor: pointer;
  transition: background .6s ease, color .6s ease;
  color: rgba(var(--main), 1);
  border: 1px solid rgba(var(--main),1);
  border-radius: 10%;
  background:rgba(var(--tint3), 1);
  opacity: 0;
  animation: appear .9s ease .1s forwards;
  margin: 0 auto;
}

.column [disabled]{
  background: rgba(var(--tint2),1);
  border: 1px solid rgba(var(--main),1);
  cursor: default;
}

.column [data-x="played"]{
  background:rgba(var(--main), 1);
  border-color: rgba(var(--main), 1);
}
.column [data-order]{
  color: rgba(var(--tint6),1);
}

.column button span{
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 46%;
  line-height: 0;
}

.column .win{
  background: rgba(var(--gradientColor1,1));
  color:rgba(var(--main), 1);
}
.column .lose{
  background: rgba(var(--gradientColor3,1));
  color: rgba(var(--main), 1);
}

@media screen and (max-width: 960px){
  body{
    padding: 16px 8px;
  }
}

@media screen and (max-width: 690px){
  #wrapper{
    display:block;
  }
  header{
    width: 100%;
    padding: 0 0 32px 0;
  }
  svg{
    margin: 0 auto;
    display: block;
  }
  h1{
    text-align: center;
  }
  main{
    width: 100%;
  }

}